.navigation{
    display: flex;
    justify-content: space-between;
    height: 72px;
    padding: 0 8px;
    align-items: center;
}

.navigation ul{
    display: flex;
    list-style-type: none;
    gap: 24px;
    font-weight: 500;
    font-size: 20px;
}

.logo img{
    height: 60px;
    font-weight: 60px;
}